!.gitkeep
node_modules/
bower_components/
.git/
.svn/
.idea/
*.iml
*.ipr
*.iws
out/
gen/
target/
build/
proguard/
eclipse/
.metadata/
.settings/
.classpath
.loadpath
.buildpath
.project
.cproject
*.pydevproject
cache/
tmp/
*.tmp
log/*
logs/*
*.log
*.bak
*.swp
*~.nib
local.properties
*.launch
nbproject/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.sublime*
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
thumbs.db
ehthumbs.db
desktop.ini
*.7z
*.jar
*.war
*.ear
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.class
*.apk
*.ap_
*.dex
*.rbc
*.sassc
*.sass-cache
capybara-*.html
pickle-email-*.html
.rspec
.rvmrc
.bundle/
*.sqlite3
public/assets/
public/system/
coverage/